# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=86593d32-0a05-47e2-9367-dd6f2b449df2

    # Set to true to disable all reporting
    B:opt-out=false
}


